@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Athiti:wght@200;300;400;500;600;700&family=Bebas+Neue&family=Changa+One:ital@0;1&family=Creepster&family=Dancing+Script:wght@400..700&family=Oswald:wght@200..700&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Athiti:wght@200;300;400;500;600;700&family=Bebas+Neue&family=Changa+One:ital@0;1&family=Creepster&family=Dancing+Script:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Oswald:wght@200..700&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
    /* theme blue */
    --blue-main: #a8d8ea;
    --blue-soft: #dff6ff;
    --blue-deep: #7cb9e8;
    /* theme brown */
    --brown-main: #d2b48c;
    --brown-soft: #f5e6d3;
    --brown-deep: #a67b5b;
    /* theme neutral */
    --white: #ffffff;
    --cream: #faf8f4;
    --gray-light: #eaeaea;
    --gray-text: #555555;
    /* accent */
    --accent: #ffd6a5;
    --glassmorphism-bg: rgba(255, 255, 255, 0.1);
    /* font */
    --font-nav: 'Changa One', cursive;
    --font-text: 'Inter', cursive;

    --radar-bg: #1a1a2e;
    --ai-zone-color: rgba(255, 217, 112, 0.15);
    --tof-zone-color: rgba(255, 70, 70, 0.1);
}

html,
body {
    font-family: Arial, sans-serif;
    background-color: var(--cream);
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: var(--cream);
    color: var(--gray-text);
    margin: 0;
}

nav {
    width: 90%;
    background-color: #7cb9e89a;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(5px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 20px;
    box-sizing: border-box;
    border-radius: 50px;
    position: fixed;
    top: 10px;
    z-index: 999;
}

nav .logo img {
    height: 30px;
}

.hamberger {
    display: none;
    cursor: pointer;
}

.hamberger .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    border-radius: 20px;
    background-color: var(--white);
    transition: all 0.3s ease-in-out;
}

.hamberger:hover .bar {
    background-color: var(--white);
    filter: drop-shadow(0 0 5px var(--white));
}

.nav-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 30px;
}

.nav-list a {
    color: var(--white);
    text-decoration: none;
    font-size: 1.1em;
    font-weight: lighter;
    font-family: var(--font-nav);
    letter-spacing: 1px;
}

.nav-list a:hover {
    color: var(--brown-main);
    filter: drop-shadow(0 0 5px var(--brown-main));
}

nav .acount {
    display: flex;
    padding: 0 5px;

}

.acount button {
    background: none;
    border: none;
    cursor: pointer;
}

button svg {
    width: 1.8em;
    height: 1.8em;
    color: var(--white);
}

button svg:hover {
    color: var(--brown-main);
    filter: drop-shadow(0 0 5px var(--brown-main));
}

#prop-container{
    position: static;
    width: 100vw;
    height: 100vh;
    border: 2px solid red;
    top: 0;
    left: 0;
    background-color: var(--blue-main);
    z-index: 0;
}

.prop{
    position: absolute;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    z-index: 0;
}

.prop:nth-child(1){
    width: 200px;
    height: 200px;
    background-color: var(--blue-deep);
    top: 50%;
    left: 50%;
    filter: blur(20px);
}

section {
    flex: 1;
    width: 100%;
    padding: 60px 50px 0 50px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    z-index: 10;
}

.leftside {
    flex: 1;
    padding: 20px;
}

.leftside h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    font-family: var(--font-text);
}

.leftside p {
    font-size: 1.2em;
    line-height: 1.5;
    margin-bottom: 30px;
    font-family: var(--font-text);
}

.leftside a {
    color: var(--blue-deep);
    text-decoration: none;
    font-size: 1rem;
    font-family: var(--font-nav);
}

.leftside a:hover {
    text-decoration: underline;
    text-decoration-color: var(--blue-deep);
}

.carousel {
    width: 100%;
    overflow-x: auto;
    margin: 3em auto;
    display: flex;
    gap: 1em;
    scroll-behavior: smooth;
    anchor-name: --carousel;
    scroll-snap-type: x mandatory;
}

.carousel::-webkit-scrollbar {
    display: none;
    /* ซ่อน Scrollbar ใน WebKit browsers */
}

.carousel::scroll-button(right),
.carousel::scroll-button(left) {
    content: "»";
    border: none;
    background: none;
    font-family: Consolas;
    font-size: 3rem;
    height: 30px;
    width: 30px;
    padding-bottom: .1em;
    cursor: pointer;
    color: var(--gray-text);
    position: fixed;
    left: -70%;
    position-anchor: --carousel;
    position-area: right center;
}

.carousel::scroll-button(left) {
    content: "«";
    position-area: left center;
    right: -70%;
}

.carousel::scroll-button(left):active,
.carousel::scroll-button(right):active {
    transform: scale(1.2);
    transition: transform 0.2s ease-in-out;
}

.carousel::scroll-button(right):disabled,
.carousel::scroll-button(left):disabled {
    opacity: 0;
    cursor: auto;
}

.card {
    scroll-snap-align: start;
    flex: 0 0 10em;
    aspect-ratio: 5 / 3;
    padding: 1em;
    text-align: center;
    align-content: center;
    background: none;
    border: 2px solid var(--brown-deep);
    border-radius: 20px;
}

.card:hover {
    background-color: var(--brown-deep);
    color: var(--white);
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

footer {
    width: 100%;
    background-color: var(--blue-deep);
    color: var(--white);
    padding: 10px 0;
    margin: 0;
    padding: 20% 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    z-index: 10;
}

.icon-list {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.icon {
    color: var(--white);
    text-decoration: none;
}

footer .icon svg {
    width: 30px;
    height: 20px;
}

footer .icon:hover {
    color: var(--accent);
}

footer .icon:hover svg {
    filter: drop-shadow(0 0 5px var(--accent));
}

footer .icon:active {
    color: var(--white);
}

footer p {
    font-size: 1rem;
}

@media (max-width: 500px) {
    .card {
        flex: 0 0 100%;
    }
}

@media (max-width: 768px) {
    .hamberger {
        /* โชว์ปุ่มสามขีด */
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
    }

    .acount {
        position: absolute;
        top: 22px;
        right: 45px;
    }

    .nav-list {
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        position: absolute;
        top: 80px;
        /* แนะนำให้ปรับ top ลงมาอีกนิดเพื่อไม่ให้ทับกับ Navbar (ลองกะระยะดูครับ) */
        right: 5px;
        background-color: #a67b5b9a;
        backdrop-filter: blur(3px);
        border-radius: 10px;
        padding: 15px 10px;
        gap: 5px;
        width: 150px;
        height: 100px;
        z-index: 999;
        /* เพิ่ม z-index เพื่อให้เมนูที่กางลงมาอยู่ด้านหน้าสุด ทับเนื้อหาอื่น */
        animation: floatingBox 3s ease-in-out infinite;
        /* เพิ่มแอนิเมชันให้เมนูลอยขึ้นลง */
    }

    .nav-list a {
        color: var(--white);
        width: 95%;
        height: 25%;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .nav-list a:hover {
        background: var(--accent);
        opacity: 0.5;
        color: var(--brown-deep);
        border-radius: 5px;
        transition: background-color 0.3s ease-in-out, color 0.2s ease-in-out;
    }

    /* คลาสสำหรับสั่งให้โชว์เมนู (จะใช้ JS ช่วยเพิ่มคลาสนี้) */
    .nav-list.active {
        display: flex;
    }

    @keyframes floatingBox {
        0% {
            transform: translateY(0);
        }

        50% {
            transform: translateY(-10px);
        }

        100% {
            transform: translateY(0);
        }
    }
}