@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Athiti:wght@200;300;400;500;600;700&family=Bebas+Neue&family=Changa+One:ital@0;1&family=Creepster&family=Dancing+Script:wght@400..700&family=Oswald:wght@200..700&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Athiti:wght@200;300;400;500;600;700&family=Bebas+Neue&family=Changa+One:ital@0;1&family=Creepster&family=Dancing+Script:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Oswald:wght@200..700&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
    /* theme blue */
    --blue-main: #a8d8ea;
    --blue-soft: #dff6ff;
    --blue-deep: #7cb9e8;
    /* theme brown */
    --brown-main: #d2b48c;
    --brown-soft: #f5e6d3;
    --brown-deep: #a67b5b;
    /* theme neutral */
    --white: #ffffff;
    --cream: #faf8f4;
    --gray-light: #eaeaea;
    --gray-text: #555555;
    /* accent */
    --accent: #ffd6a5;
    --glassmorphism-bg: rgba(255, 255, 255, 0.1);
    /* font */
    --font-nav: 'Changa One', cursive;
    --font-text: 'Inter', cursive;

    --radar-bg: #1a1a2e;
    --ai-zone-color: rgba(255, 217, 112, 0.15);
    --tof-zone-color: rgba(255, 70, 70, 0.1);
}

html,
body {
    font-family: Arial, sans-serif;
    background-color: var(--cream);
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: var(--cream);
    color: var(--gray-text);
    margin: 0;
}

nav {
    width: 90%;
    background-color: #7cb9e8c2;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(5px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 20px;
    box-sizing: border-box;
    border-radius: 50px;
    position: fixed;
    border: 3px solid white;
    box-shadow: inset 0px 0px 50px -3px var(--blue-soft);
    top: 10px;
    z-index: 999;
}

nav .logo img {
    height: 30px;
}

.hamberger {
    display: none;
    cursor: pointer;
}

.hamberger .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    border-radius: 20px;
    background-color: var(--white);
    transition: all 0.3s ease-in-out;
}

.hamberger:hover .bar {
    background-color: var(--brown-main);
    filter: drop-shadow(0 0 5px var(--white));
}

.nav-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 30px;
}

.nav-list a {
    color: var(--white);
    text-decoration: none;
    font-size: 1.1em;
    font-weight: lighter;
    font-family: var(--font-nav);
    letter-spacing: 1px;
}

.nav-list a:hover {
    color: var(--brown-main);
    filter: drop-shadow(0 0 5px var(--white));
}

nav .acount {
    display: flex;
    padding: 0 5px;

}

.acount button {
    background: none;
    border: none;
    cursor: pointer;
}

button svg {
    width: 1.8em;
    height: 1.8em;
    color: var(--white);
}

button svg:hover {
    color: var(--brown-main);
    filter: drop-shadow(0 0 5px var(--white));
}

section {
    width: 100%;
    padding: 0 50px;
    box-sizing: border-box;
    z-index: 10;
}

.leftside {
    flex: 1;
    padding: 20px;
}

.leftside h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    font-family: var(--font-text);
}

.leftside p {
    font-size: 1.2em;
    line-height: 1.5;
    margin-bottom: 30px;
    font-family: var(--font-text);
}

.leftside a {
    color: var(--blue-deep);
    text-decoration: none;
    font-size: 1rem;
    font-family: var(--font-nav);
}

.leftside a:hover {
    text-decoration: underline;
    text-decoration-color: var(--blue-deep);
}

main {
    flex: 1;
    width: 100%;
    padding: 60px 50px 0 50px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    z-index: 10;
}

.carousel-wrapper {
    position: relative;
    width: 100%;
}

.carousel {
    width: 100%;
    overflow-x: auto;
    margin: 3em auto;
    display: flex;
    gap: 1em;
    scroll-behavior: smooth;
    anchor-name: --carousel;
    scroll-snap-type: x mandatory;
}

.carousel::-webkit-scrollbar {
    display: none;
    /* ซ่อน Scrollbar ใน WebKit browsers */
}

.carousel::scroll-button(right),
.carousel::scroll-button(left) {
    content: "»";
    border: none;
    background: none;
    font-family: Consolas;
    font-size: 3rem;
    height: 30px;
    width: 30px;
    padding-bottom: .1em;
    cursor: pointer;
    color: var(--gray-text);
    position: fixed;
    left: -70%;
    position-anchor: --carousel;
    position-area: right center;
}

.carousel::scroll-button(left) {
    content: "«";
    position-area: left center;
    right: -70%;
}

.carousel::scroll-button(left):active,
.carousel::scroll-button(right):active {
    transform: scale(1.2);
    transition: transform 0.2s ease-in-out;
}

.carousel::scroll-button(right):disabled,
.carousel::scroll-button(left):disabled {
    opacity: 0;
    cursor: auto;
}

.card {
    scroll-snap-align: center;
    flex: 0 0 30em;
    aspect-ratio: 16 / 9;
    padding: 1em;
    text-align: center;
    align-content: center;
    background: none;
    border: 2px solid var(--brown-deep);
}

.card:hover {
    background-color: var(--brown-deep);
    color: var(--white);
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    cursor: grab;
}

.card:active {
    cursor: grabbing;
}

footer {
    width: 100%;
    background-color: #7cb9e8c2;
    color: var(--white);
    padding: 10px 0;
    margin: 0;
    padding: 20% 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    backdrop-filter: blur(3px);
    box-shadow: inset 0px 0px 50px -3px var(--blue-soft);
    border-top: 3px solid white;
    border-radius: 30px 30px 0 0;
    z-index: 10;
}

.icon-list {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.icon {
    color: var(--white);
    text-decoration: none;
    aspect-ratio: 1 / 1;
}

footer .icon svg {
    width: 30px;
    height: 20px;
}

footer .icon:hover {
    color: var(--accent);
}

footer .icon:hover svg {
    filter: drop-shadow(0 0 5px var(--accent));
}

footer .icon:active {
    color: var(--white);
}

footer p {
    font-size: 1rem;
}

#simulation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 0 6em 0;
}

/* simulation */
/* หน้าจอเรดาร์ */
#radar-screen {
    width: 600px;
    max-width: 600px;
    height: 400px;
    background-color: #7cb9e8c2;
    border-radius: 20px;
    position: relative;
    /* สำคัญ: เพื่อให้วัตถุข้างในอ้างอิงตำแหน่งได้ */
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3), inset 0px 0px 50px -3px var(--blue-soft);
    border: 4px solid white;
}

/* ปรับแต่งตัวผู้ใช้ (User) */
.user {
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 10;
    transition: transform 0.1s;
    /* คุณสามารถแก้ CSS ตรงนี้ได้เลย เช่นใส่เงาหรือเปลี่ยนรูป */
    filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.5));
    transform: translateX(-50%) scaleY(-1);
}

/* ปรับแต่งวัตถุจำลอง (Objects) */
.sim-object {
    position: absolute;
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 5;
}

.sim-object img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* ชื่อวัตถุที่ลอยอยู่บนหัว */
.object-label {
    color: white;
    font-size: 10px;
    white-space: nowrap;
    margin-bottom: 2px;
    background: rgba(0, 0, 0, 0.5);
    padding: 1px 4px;
    border-radius: 4px;
}

/* เอฟเฟกต์เมื่อเข้าใกล้ (ToF Detected) */
.detected-emergency {
    filter: drop-shadow(0 0 10px red) brightness(1.2);
    animation: blink 0.5s infinite alternate;
}

@keyframes blink {
    from {
        opacity: 1;
    }

    to {
        opacity: 0.7;
    }
}

/* รัศมีการตรวจจับ */
.zone {
    position: absolute;
    border-radius: 50%;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    pointer-events: none;
}

.zone-ai {
    width: 500px;
    height: 500px;
    background: var(--ai-zone-color);
    border: 3px dashed var(--brown-deep);
}

.zone-tof {
    width: 170px;
    height: 170px;
    background: var(--tof-zone-color);
    border: 2px dashed rgba(255, 70, 70, 0.3);
}

.cloneAi{
    width: 500px;
    height: 500px;
    background: var(--ai-zone-color);
    animation: beepAi 1s ease-in-out infinite;
}

.cloneTof{
    width: 170px;
    height: 170px;
    background: var(--tof-zone-color);
    border: 1px solid rgba(255, 70, 70, 0.3);
    animation: beepTof 1s ease-in-out infinite;
}

@keyframes beepAi {
    0% {
        opacity: 0.5;
        width: 0;
        height: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.5;
        width: 1000px;
        height: 1000px;
    }
}

@keyframes beepTof{
    0% {
        opacity: 0.5;
        width: 0;
        height: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.5;
        width: 170px;
        height: 170px;
    }
}

/* ส่วนควบคุมและ Log */
.controls {
    margin: 20px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    width: 80%;
    justify-content: center;
}

.controls button {
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    background: #a67b5be3;
    box-shadow: inset 0px 0px 40px -8px var(--brown-soft);
    color: var(--white);
    cursor: pointer;
}

.controls button:nth-child(4){
    background: #7cb9e8c2;
    box-shadow: inset 0px 0px 40px -8px var(--blue-soft);
}

.controls button:hover{
    transform: scale(1.1);
    transition: .1s ease-in-out;
}

#alertBox {
    width: 600px;
    height: 150px;
    background: #a67b5ba4;
    box-shadow: inset 0px 0px 40px -3px var(--brown-soft);
    color: #ff0000;
    padding: 15px;
    border-radius: 10px;
    overflow-y: auto;
    font-family: monospace;
    margin-top: 20px;
    font-size: 1.2rem;
}

#alertBox::-webkit-scrollbar {
    display: none;
}

.alert-ai {
    color: #ffca28;
}

.alert-tof {
    color: #ff6a00;
    font-weight: bold;
}

@media (max-width: 500px) {
    .card {
        flex: 0 0 100%;
    }
}

@media (max-width: 768px) {
    .hamberger {
        /* โชว์ปุ่มสามขีด */
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
    }

    .acount {
        position: absolute;
        top: 22px;
        right: 45px;
    }

    .nav-list {
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        position: absolute;
        top: 80px;
        /* แนะนำให้ปรับ top ลงมาอีกนิดเพื่อไม่ให้ทับกับ Navbar (ลองกะระยะดูครับ) */
        right: 5px;
        background-color: #7cb9e8c2;
        box-shadow: inset 0px 0px 50px -3px var(--blue-soft);
        backdrop-filter: blur(3px);
        border-radius: 10px;
        padding: 15px 10px;
        gap: 5px;
        width: 150px;
        height: 100px;
        z-index: 999;
        /* เพิ่ม z-index เพื่อให้เมนูที่กางลงมาอยู่ด้านหน้าสุด ทับเนื้อหาอื่น */
        animation: floatingBox 3s ease-in-out infinite;
        /* เพิ่มแอนิเมชันให้เมนูลอยขึ้นลง */
    }

    .nav-list a {
        color: var(--white);
        width: 95%;
        height: 25%;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .nav-list a:hover {
        background: var(--brown-main);
        color: var(--white);
        border-radius: 5px;
        transition: background-color 0.4s ease-in-out, color 0.2s ease-in-out;
    }

    /* คลาสสำหรับสั่งให้โชว์เมนู (จะใช้ JS ช่วยเพิ่มคลาสนี้) */
    .nav-list.active {
        display: flex;
    }

    @keyframes floatingBox {
        0% {
            transform: translateY(0);
        }

        50% {
            transform: translateY(-10px);
        }

        100% {
            transform: translateY(0);
        }
    }
}